/* Basit bir reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Gövde (body) ayarları */
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  /* Üst Kısım (Header) */
  header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
    font-size:20px;
    border-radius: 100px;
  }
  
  header h1 {
    margin-bottom: 0.5rem;
  }
  
  header p {
    font-size: 1.1rem;
  }
  
  /* Ana İçerik (Main) ve Proje Listesi */
  main {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
  }
  
  .list {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 5px;
  }
  
  .list h2 {
    margin-bottom: 1rem;
    color: #333;
  }
  
  /* Proje Kartı */
  .proje {
    border: 1px solid #00ff3c;
    border-radius: 4px;
    padding: 1rem;
    margin-bottom: 1rem;
  }
  
  .proje h3 {
    margin-bottom: 0.5rem;
    color: #333;
  }
  
  .proje p {
    margin-bottom: 0.5rem;
    color: #555;
  }
  /* Projeye Git Linki */
  .proje a {
    color: #0080ff;
    text-decoration: none;
    font-weight: bold;
  }  
  .proje a:hover {
    text-decoration: underline;
  }
  .proje p{
    color: #000000;
  }
  /* Sayfa Navigasyon Linkleri */
  .button {
    margin-top: 2rem;
  }
  .button a {
    margin-right: 1rem;
    color: #22ff00;
    text-decoration: none;
    font-weight: bold;
  }
  .button a:hover {
    text-decoration: underline;
  }
  /* Alt Kısım (Footer) */
  footer {
    background-color: #4CAF50;
    color: rgb(173, 43, 43);
    text-align: center;
    padding: 15px;
    font-size:15px;
    border-radius: 100px;
  }